
@keyframes globeAnimKey {
  0% {transform: translate(-50%, -50%) translateX(-500px) translateY(253px) rotate(5deg) scaleX(1.4) scaleY(1.4) skewX(1deg) skewY(-28deg); opacity: 0;}
  35% {transform: translate(-50%, -50%) translateX(48px) translateY(20px) rotate(10deg) scaleX(0.8) scaleY(0.8) skewX(1deg) skewY(0deg);opacity: 0.35;}
  53% {transform: translate(-50%, -50%) translateX(-60px) translateY(-26px) rotate(5deg) scaleX(1) scaleY(1) skewX(3deg) skewY(2deg);opacity: 0.53;}
  100% {transform: translate(-50%, -50%) translateX(0px) translateY(0px) rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg);opacity: 1;}
}

@keyframes spotlightAnim {
  0% {transform: translate(-50%, -50%) scaleX(0) scaleY(0.5); opacity: 0;}
  100% {transform: translate(-50%, -50%) scaleX(1.2) scaleY(1.5);opacity: 0.5;}
}

@keyframes bGTransparency{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes bGTransparencyNovaVer{
  0% {opacity: 0;}
  100% {opacity: 0.05;}
}

@keyframes greetingsText {
  0%   {opacity:0; transform: scale(0) translateY(0);}
  3%   {opacity:1; transform: scale(0.3) translateY(0);}
  5%   {opacity:1; transform: scale(0.15) translateY(0);}
  20%  {opacity:1; transform: scale(0.25) translateY(0);}
  27%  {opacity:0.5; transform: scale(1) translateY(0);}
  100% {opacity:0; transform: scale(0) translateY(0);}
}


@keyframes greetingsTextEnd{
  0% {opacity:0; transform: scale(0);}
  3% {opacity:1; transform: scale(0.3);}
  5% {opacity:1; transform: scale(0.15);}
  20% {opacity:1; transform: scale(0.25);}
  27% {opacity:1; transform: scale(1);}
  90% {opacity:1; transform: scale(1) translateY(0px);}
  95% {opacity:1; transform: scale(1) translateY(-7px);}
  100% {opacity:1; transform: scale(1) translateY(0px);}
}


/* Anims up top-----------------------------------------------------------------------------------*/
.cal-sans-regular {
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.noto-sans-jp {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #0a0016;
  overflow-x: hidden;
}

#novaBG{
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -10;
  scale: 1.5;
  opacity: 0;
  animation-name: bGTransparencyNovaVer;
  animation-duration: 5;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#globeAnimDiv{
  overflow-x: hidden;
  animation-name: globeAnimKey;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-fill-mode: forwards;
  position: absolute;     
  top: 50%;            
  left: 50%;    
  transform: translate(-50%, -50%);
  text-align: center;
}

#starsBGSmallDiv{
  position: absolute;
  top: 0;
  left: 0;
}

#starsBGSmall {
  animation-name: bGTransparency;
  animation-delay: 0.5s;
  animation-duration: 5s;
  width: 100vw;
  opacity: 0;
  height: 100vh;
  object-fit: cover;
  animation-fill-mode: forwards;
}


#spotlight{
  overflow-x: hidden;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);
  opacity: 0;
  animation: spotlightAnim 1s ease-in-out 1s 1 forwards;
}

#greetingTexts {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: max-content; /* the magic sauce */
  color: aliceblue;
}

#greetingTexts > div {
  color: aliceblue;
  font-family: "Cal Sans", "Noto Sans JP", sans-serif;
  position: absolute;   
  text-align: center;
  top: 0;
  left: 0;
  opacity: 0;        
}

#actualWelcomeDiv {
  color: aliceblue;
  font-family: "Cal Sans", sans-serif;
  text-align: justify;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

#greetingTexts > div:nth-child(1) {animation: greetingsText 2s ease-in-out 1s forwards;}
#greetingTexts > div:nth-child(2) {animation: greetingsText 1.75s ease-in-out 2s forwards;}
#greetingTexts > div:nth-child(3) {animation: greetingsText 1.5s ease-in-out 2.5s forwards;}
#greetingTexts > div:nth-child(4) {animation: greetingsText 1.25s ease-in-out 2.75s forwards;}
#greetingTexts > div:nth-child(5) {animation: greetingsText 0.75s ease-in-out 3s forwards;}
#greetingTexts > div:nth-child(6) {animation: greetingsText 0.75s ease-in-out 3.25s forwards;}
#greetingTexts > div:nth-child(7) {animation: greetingsText 0.75s ease-in-out 3.5s forwards;}
#greetingTexts > div:nth-child(8) {animation: greetingsText 0.75s ease-in-out 3.75s forwards;}
#greetingTexts > div:nth-child(9) {animation: greetingsTextEnd 1.25s ease-in-out 4s forwards;}



